* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    overflow : hidden;
}
body {
     background-color:#67dab4d2; 
}
#search-weather {
    width : 100%;
    display : flex;
    justify-content : center;
    margin-top : 10vh;
}
 #option {
    padding: 2vh;
    width: 40%;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 40px;
    margin-right: 1vw;
    background-color: #ebfffc;
} 
#button {
    padding: 2vh;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: grey;
    background-color: white;
}
#button:active {
    background-color: aquamarine;
}